<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="${rc.contextPath}/resources/image/favicon.ico">
	<title>Base</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<link href="//cdn.bootcss.com/jqueryui/1.11.4/jquery-ui.min.css" rel="stylesheet">
	<!-- 项目 CSS 文件 -->
    <link href="${rc.contextPath}/resources/css/base.css" rel="stylesheet">  
	<!-- jQuery文件，务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="//cdn.bootcss.com/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="${rc.contextPath}/resources/js/base.js"></script>
  </head>
  <body>	
	<nav class="navbar navbar-default">
      <div class="container">
          <ul class="nav navbar-nav">
            <li #if($menu == "index") class="active" #end><a href="${rc.contextPath}/index.html">首页</a></li>
            <li #if($menu == "tree") class="active" #end><a href="${rc.contextPath}/tree/index.html">树控件</a></li>
            <li #if($menu == "page") class="active" #end><a href="${rc.contextPath}/user/list.html">分页控件</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">其他 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">XXXX</a></li>
                <li><a href="#">XXXX</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">更多</li>
                <li><a href="#">XXXX</a></li>
                <li><a href="#">XXXX</a></li>
              </ul>
            </li>
          </ul>
      </div>
    </nav>
	
	<div class="container">
		
	  $screen_content	
	  
	  <hr>
      <footer>
        <p>&copy; Company 2016</p>
      </footer>
    </div>
			
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="${rc.contextPath}/resources/js/ie10-viewport-bug-workaround.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	 #parse("/base/modal.vm")
  </body>
</html>